
.content{
  max-width: 400px;
  max-height: 600px;
  margin: auto;
  background: #f3f3f3;
  height: 100px;
  padding: 2%;
  border:1px solid
}

h4{
  text-align: center;
}

ul{
  list-style-type: square;
  padding: 10px;

}

input{
  width: 20%;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 500px;
}

button{
  border: solid 1px;
  cursor: pointer;
}

